<?xml version="1.0"?>

<launch>
	
	<node pkg="temizlik_robotu" type="temizlik_robotu_engelden_sakinma_dugumu.py" name="temizlik_robotu_engelden_sakinma_dugumu" output="screen" >
		<rosparam file="$(find temizlik_robotu)/params/engelden_sakinma_dugumu_parametreler.yaml" command="load"/>
	</node>
	
</launch>
